body {
    margin: 0;
    padding: 0;
    background: #272727;
}

html, body { height: 100%; }

#search-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(140px);
    z-index: 8;
}

#search {
    margin: 0 auto;
    width: 500px;
    height: 36px;
    background: #ccc;
    border-radius: 3px;
}

#search input {
    float: left;
    margin: 3px 0 0 5px;
    width: 360px;
    height: 30px;
    background: #ccc;
    color: #fff;
    border: 0;
}

#search button {
    float: right;
    margin: 3px 3px 0 0;
    width: 130px;
    height: 30px;
    text-align: center;
    color: #014165;
    background: #0177BA;
    border-radius: 3px;
    border: 0;
}

.page {
    height: 100%;
    min-height: 600px;
}

.page main {
    position: relative;
}

.page p {
    font-size: 30px;
    text-align: center;
    margin: 0 100px;
}

.page-home {
    width: 100%;
    background: #006cc8;
    position: absolute;
    z-index: 6;
    opacity: .9;
}

.page-map {
    background: #0f1d2d;
}


.page-airmatter {
    background: #fff;
}

.page-airmatter h3 {
    color: #0384D0;
}

.page-service {
    background: #97daf8;
}

.page main section {
    opacity: 0;
    position: absolute;
    width: 100%;
}

.section-ctrl {
    margin: 0 100px;
    position: relative;
    z-index: 10;
    top: 550px;
    opacity: 0;
}

.section-ctrl .section-prev {
    float: left;
    cursor: pointer;
}

.section-ctrl .section-next {
    float: right;
    cursor: pointer;
}

.page-airmatter .section-ctrl {
    top: 550px;
}
.page-airmatter .section-prev rect,
.page-airmatter .section-next rect {
    fill: #C8EAFF;
}

.page-service .section-ctrl {
    top: 200px;
}
.page-service .section-prev rect,
.page-service .section-next rect {
    fill: #fff;
}

#world-map-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 600px;
    top: 0;
    left: 0;
}

#world-map {
    position: absolute;
    top: 210px;
    left: 0;
    right: 0;
    bottom: 0;
}

.iphone {
    width: 290px;
    height: 606px;
    border-radius: 28px;
    border: 2px solid #79808E;
    position: absolute;
    background: #fff;
    z-index: 99;
    opacity: 0;
}

.iphone-receiver {
    border: 1px solid #79808E;
    width: 48px;
    height: 6px;
    border-radius: 4px;

    position: absolute;
    left: 120px;
    top: 30px;
}

.iphone-camera {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    border: 1px solid #79808E;

    position: absolute;
    left: 100px;
    top: 29px;
}

.iphone-home {
    width: 46px;
    height: 46px;
    border-radius: 24px;
    border: 1px solid #79808E;
    position: absolute;
    bottom: 10px;
    left: 121px;
}

.iphone-screen {
    background: #2b3549;
    width: 270px;
    height: 460px;
    margin: 66px 10px 0;
    overflow: hidden;
    position: relative;
}

.iphone-power,
.iphone-voice-up,
.iphone-voice-down,
.iphone-mute {
    position: absolute;
    background: #626D82;
    width: 2px;
    height: 50px;
}

.iphone-power {
    top: 130px;
    left: 292px;
}

.iphone-voice-up {
    top: 145px;
    right: 292px;
}

.iphone-voice-down {
    top: 205px;
    right: 292px;
}

.iphone-mute {
    height: 25px;
    top: 95px;
    right: 292px;
}

.iphone-content {
    display: none;
    opacity: 0;
    width: 270px;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
}

.airmatter-info-form {
    margin: 100px auto 40px;
    padding: 2px 5px;
    width: 400px;
    height: 30px;
    background: #0384D0;
}

.airmatter-info-form button {
    width: 90px;
    height: 26px;
    float: right;
    margin-top: 2px;
    border: 0;
    border-radius: 3px;
    background: #fff;
    color: #014165;
}

.airmatter-info-form input {
    width: 300px;
    height: 26px;
    float: left;
    margin-top: 2px;
    border: 0;
    background: none;
    color: #fff;
    font-size: 18px;
}

.airmatter-info-form input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
}
.airmatter-info-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #fff;
   opacity:  1;
}
.airmatter-info-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
   opacity:  1;
}
.airmatter-info-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}

#airmatter-info p,
#airmatter-replay p {
    font-size: 30px;
    line-height: 40px;
    color: #2292D5;
}

#airmatter-home p {
    font-size: 26px;
    line-height: 36px;
}

#airmatter-home h3 {
    font-size: 50px;
    text-align: center;
    margin: 80px 100px 60px;
}

#airmatter-replay .btn-play {
    display: block;
    margin: 100px auto 50px;
}

#service-main h3 {
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    margin: 60px auto 40px;
}

#world-map-wrap h3 {
    margin: 40px auto 70px;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

#world-map-wrap p {
    text-align: center;
}

#world-map-wrap p a {
    font-size: 16px;
    color: #fff;
    margin: 0 20px;
}

.service-link {
    display: block;
    text-align: center;
    font-size: 18px;
}

.service-link img {
    display: block;
    width: 76px;
    height: 76px;
    margin: 0 auto 8px;
}
